header .breadcrumb {
	display: block;
	font-size: 0.5em;
}

.resource-image {
	display: block;
	background-color: black;
}

.resource-image img {
	display: block;
}

.game-image {
	display: inline-block;
	background-color: black;
	vertical-align: top;
}

.game-image img {
	display: block;
}

.nav__breadcrumb {
	height: 1.5em;
}

.nav__breadcrumb {
	font-size: 1em;
}

.nav__current {
	font-size: 2em;
}

.nav__options {
	display: list;
	padding-left: 2em;
	font-size: 1em;
}

.nav__options>* {
	display: list-item;
}